body{ background-color:#efecff; font-family:Verdana, Geneva, sans-serif; font-size:12px;}


.FormGeneral { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
.BuscarUsuario {font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #FFFFFF; }
.TablaUsuarios {font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
.campos_mayus{text-transform: uppercase;}